/* GOOGLE FONTS */
/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* poppins-500 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* poppins-600 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* GLOBAL STYLES */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    font-family: "Poppins", "Arial", "Helvetica", sans-serif ;
}
a {
    text-decoration: none;
    color: inherit;
}
/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 57px 130px 0 130px;
    margin-bottom: 115px;
}
.header-logo {
    cursor: pointer;
}
.header-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-nav-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #263238;
    cursor: pointer;
}
.header-button {
    border: 2px solid #263238;
    border-radius: 5px; 
    background-color: #fff;
    cursor: pointer;
}
.header-button-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000;
    padding: 17px 57px;
}
.header-burger {
    visibility: hidden;
}
/* HEADER END */

/* INTRO */
.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 130px;
    margin-bottom: 96px;
}
.intro-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    color: #000;
    margin-bottom: 40px;
}
.intro-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #8F95A5;
    margin-bottom: 61px;
}
.intro-button {
    background: #263238;
    border-radius: 15px;
}
.intro-button-text {
    display: block;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    padding: 32px 120px;
    color: #fff;
}
.intro-img {
    width: 661px;
    height: 661px;
}
/* INTRO END */

/* ABOUT */
.about { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 135px;
    margin-bottom: 188px;
}
.about-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    margin-bottom: 23px;
}
.about-text-wrapper {
    width: 635px;
    height: 240px;
}
.about-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
    margin-bottom: 30px;
}
.about-info {
    display: flex;
    align-items: center;
    gap: 160px;
}
.about-info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-info-item-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #2A3246;
}
.about-info-item-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
}
/* ABOUT END */

/* PRISING */
.prising {
    margin-bottom: 200px;
}
.prising-name {
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    text-align: center;
    color: #000000;
    margin-bottom: 57px;
}
.pricing-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.prising-item {
    display: flex;
    flex-direction: column;
}
.prising-img {
    width: 311px;
    height: 311px;
    margin-bottom: 40px;
}
.prising-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    color: #263238;
    margin-bottom: 19px;
}
.prising-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
    margin-bottom: 59px;
}
.prising-btn {
    width: 240px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #EEEEEE;
    border-radius: 5px;
}
.prising-price {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #263238;
}
.prising-month {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #546269;
}
/* PRISING END */

/* CONTACT */
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 111px;
}
.contact-img {
    width: 477px;
    height: 429px;
}
.contact-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    margin-bottom: 37px;
}
.contact-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 52px;
    color: #8F95A5;
}
.contact-enter {
    display: flex;
    align-items: center;
    gap: 12px;
}
.contact-input {
    border: 1px solid #8F95A5;
    border-radius: 10px;
    width: 450px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8F95A5;
    padding: 26px 0px 30px 33px;
    overflow: hidden;
    outline: none;
}
.contact-btn {
    background-color: #263238;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding: 25px 80px;
}
/* CONTACT END */

/* FOOTER */
.footer-container {
    padding: 0 130px;
}
.footer {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
}
.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.footer-line {
    width: 100%;
    max-width: 1400px;
    height: 1px;
    background: #C4C4C4;
    margin-bottom: 30px;
}
.footer-list {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #8F95A5;
}
/* FOOTER END */

/* RESPONSIVE 992PX */
@media (max-width: 992px) {
    /* header */
    .header {
        padding: 30px 30px 0 30px;
        margin-bottom: 81px;
    }
    .header-nav-item {
        font-size: 16px;
        line-height: 24px;
    }
    .header-button-text {
        padding: 12px 40px;
    }
    /* intro */
    .intro {
        padding: 0 30px;
    }
    .intro-title {
        font-size: 48px;
        line-height: 64px;
    }
    .intro-text {
        font-size: 20px;
        line-height: 30px;
        text-align: left;
    }
    .intro-img {
        width: 460px;
        height: 460px;
    }
    .intro-button-text {
        font-size: 24px;
        line-height: 36px;
        padding: 22px 80px;
    }
    /* about */
    .about {
        padding: 0 30px;
        margin-bottom: 101px;
    }
    .about-title {
        font-size: 36px;
        line-height: 80px;
        color: #000;
    }
    .about-text-wrapper {
        width: 560px;
        height: 192px;
    }
    .about-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #8F95A5;
    }
    .about-info-item-title {
        font-size: 30px;
        line-height: 80px;
    }
    .about-info-item-text {
        font-size: 16px;
        line-height: 24px;
    }
    .about-img {
        width: 336px;
        height: 336px;
    }
    .about-info {
        gap: 82px;
    }
    /* prising */
    .prising {
        padding: 0 30px;
        margin-bottom: 200px;
    }
    .pricing-list {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .prising-title {
        text-align: center;
    }
    .prising-text {
        text-align: center;
    }
    .prising-img {
        align-self: center;
    }
    .prising-btn {
        align-self: center;
    }
    /* contact */
    .contact {
        padding: 0 26px;
        gap: 109px;
    }
    .contact-img {
        width: 233px;
        height: 210px;
    }
    .contact-title {
        font-size: 30px;
        line-height: 80px;
        margin-bottom: 0px;
    }
    .contact-enter {
        gap: 6px;
    }
    .contact-text {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 26px;
    }
    .contact-input {
        width: 283px;
        font-size: 12px;
        line-height: 18px;
        padding: 16px 0px 16px 24px;
    }
    .contact-btn {
        font-size: 13px;
        line-height: 20px;
        padding: 15px 40px;
    }
    /* footer */
    .footer-container {
        padding: 0 40px;
    }
    .footer-list {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
    }
}
/* RESPONSIVE 768PX */
@media (max-width: 768px) {
    /* header */
    .header {
        padding: 39px 39px 0 39px;
    }
    .header-nav {
        display: none;
    }
    .header-btn {
        display: none;
    }
    .header-burger {
        visibility: visible;
    }
    /* intro */
    .intro {
        padding: 0 39px;
    }
    .intro-title {
        font-size: 36px;
        line-height: 45px;
    }
    .intro-text {
        font-size: 16px;
        line-height: 24px;
    }
    .intro-button-text {
        font-family: "Poppins";
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        padding: 19px 67px;
    }
    .intro-img {
        width: 353px;
        height: 352px;
    }
    /* about */
    .about-title {
        font-size: 30px;
        line-height: 80px;
    }
    .about-text-wrapper {
        width: 321px;
    }
    .about-text {
        font-size: 14px;
        line-height: 21px;
    }
    .about-info {
        gap: 50px;
    }
    .about-info-item-title {
        font-size: 22px;
        line-height: 80px;
    }
    .about-info-item-text {
        font-size: 13px;
        line-height: 20px;
    }
    .about-img {
        width: 295px;
        height: 295px;
    }
    /* contact */
    .contact {
        padding: 0 30px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 144px;
    }
    .contact-img {
        width: 358px;
        height: 322px;
        margin-bottom: 32px;
    }
    .contact-title {
        font-size: 30px;
        line-height: 80px;
        text-align: center;
    }
    .contact-text {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
    .contact-enter {
        gap: 0;
    }
    .contact-input {
        width: 501px;
        padding: 20px 0 20px 58px;
    }
    .contact-btn {
        display: block;
        align-self: center;
        padding: 21px 56px 15px;
        font-size: 16px;
        line-height: 24px;
        margin-left: -183px;
        z-index: 1;
    }
    /* footer */
    .footer-container {
        padding: 0 15px;
    }
    .footer-nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    .footer-list {
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
    }
}
/* RESPONSIVE 575PX */
@media (max-width: 575px) {
    /* header */
    .header {
        padding: 39px 32px 0 32px;
        margin-bottom: 11px;
    }
    /* intro */
    .intro {
        flex-direction: column-reverse;
    }
    .intro-img {
        width: 424px;
        height: 424px;
        padding: 0 75px;
        margin-bottom: 17px;
    }
    .intro-title {
        font-size: 34px;
        line-height: 45px;
        text-align: center;
        margin-bottom: 26px;
    }
    .intro-text {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 37px;
    }
    .intro-button {
        display: block;
        margin: 0 auto;
    }
    .intro-button-text {
        font-family: "Poppins";
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        padding: 24px 100px;
    }
    /* about */
    .about {
        flex-direction: column-reverse;
    }
    .about-title {
        font-size: 30px;
        line-height: 80px;
        text-align: center;
    }
    .about-text-wrapper {
        width: 300px;
    }
    .about-text {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
    }
    .about-info {
        justify-content: center;
        gap: 40px;
    }
    /* prising */
    .prising-name {
        font-size: 30px;
        line-height: 80px;
    }
    .prising-title {
        font-size: 24px;
        line-height: 28px;
    }
    .prising-text {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
    }
    .prising-btn {
        width: 205px;
        height: 45px;   
    }
    .prising-price {
        font-size: 22px;
        line-height: 33px;
    }
    .prising-month {
        font-size: 16px;
        line-height: 24px;
    }
    /* contact */
    .contact {
        padding: 0 15px;
        margin-bottom: 56px;
    }
    .contact-img {
        width: 253px;
        height: 228px;
    }
    .contact-title {
        font-size: 24px;
        line-height: 80px;
    }
    .contact-text {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        margin-bottom: 31px;
    }
    .contact-enter {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 17px;
    }
    .contact-input {
        width: 292px;
        font-size: 12px;
        line-height: 18px;
        padding: 16px 0px 16px 26px;
    }
    .contact-btn {
        font-size: 14px;
        line-height: 21px;
        padding: 20px 110px;
        margin-left: 0;
    }
}
/* RESPONSIVE 320PX */ 
@media (max-width: 320px) {
    /* header */
    .header {
        padding: 36px 14px 0px;
        margin-bottom: 29px;
    }
    /* intro */
    .intro-img {
        width: 299px;
        height: 299px;
        padding: 0 10px;
        margin-bottom: 16px;
    }
    .intro-title {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    .intro-text {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 35px;
    }
    .intro-button-text {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        padding: 18px 99px;
        margin: 0 15px;
    }
    /* about */

}